//Welcome page styles
.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.custom-carousel:hover .carousel-control-prev,
.custom-carousel:hover .carousel-control-next {
  opacity: 1;
}
.rescue-card img {
  transition: transform 0.4s ease;
}
.rescue-card:hover img {
  transform: scale(1.1);
}

.rescue-gallery img {
  transition: transform 0.3s ease-in-out;
}
.rescue-gallery img:hover {
  transform: scale(1.05);
}
.alert-container {
  position: relative;
  height: 0; 
  opacity: 100%;
  
}
.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  transition: opacity 0.5s ease;
}