//Bootstrap and Bootswatch imports
@import "bootswatch/dist/brite/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/brite/bootswatch";
@import 'bootstrap-icons/font/bootstrap-icons.css';